<form class="form" [formGroup]="burgerForm">
  <div class="lineForm first-line" formGroupName="burger1">
    <mat-form-field class="full-width">
      <mat-label>Produto</mat-label>
      <input matInput type="text" formControlName="name" required />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Quantidade</mat-label>
      <input matInput type="number" formControlName="quantity" required min="1" max="99" placeholder="Valores de 1 a 99"/>
    </mat-form-field>
  </div>

  <div class="lineForm" formGroupName="burger2">
    <mat-form-field class="full-width">
      <mat-label>Produto</mat-label>
      <input matInput type="text" formControlName="name" required />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Quantidade</mat-label>
      <input matInput type="number" formControlName="quantity" required min="1" max="99" placeholder="Valores de 1 a 99"/>
    </mat-form-field>
  </div>

  <div class="text-area">
    <mat-form-field>
      <mat-label for="observation">Observação</mat-label>
      <textarea matInput rows="4" cols="80" type="text" formControlName="observation" required></textarea>
    </mat-form-field>
  </div>

  <div class="btn">
    <app-button label="Finalizar" styleClass="primaryBtn uppercase" (click)="createOrder()"></app-button>
  </div>
</form>
